@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
ul a {
  display: flex;
  justify-content: space-between;
  color: white;
  text-decoration: none;
  padding: 0.3em 3em;
  overflow: hidden;
  position: relative;
}
ul a .heading-container {
  overflow: hidden;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul a p.primary,
ul a p.secondary {
  font-size: clamp(2rem, 2vw, 4rem);

  width: 100%;
  /* margin: 0; */
}
ul a p.primary {
  transform: translateY(40%);
}

ul a p.secondary {
  transform: translateY(35%);
}

ul a p.date {
  transform: translateY(170%);
  font-size: .7em;
}

ul a .line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 3%;
  border-bottom: 1px solid white;
  transform: scaleX(0);
  transform-origin: left;
}
