@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
}

.bar {
  opacity: 70%;
  position: absolute;
  color: white;
  background-color: white;
  height: 1px;
  width: 0;
}

a {
  margin-left: 48px;
}

.mask {
  overflow: hidden;
  font-size: smaller;
}
.mask .tag {
  transform: translateY(-100px);
}